﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:400,700" rel="stylesheet" type="text/css">
        <title>@ViewBag.Title</title>
        <link href="~/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/velocity")
        @Scripts.Render("~/bundles/site")
    </head>
    <body>
    <div id="contentCanister" class="contentCanister">
        <!-- Top Nav -->
        <div id="topNav" class="topNav">
            <a href="javascript:;" id="liquorTypes" data-action="LoadCategories">Categories</a>
            <a href="javascript:;" id="liquors" data-action="LoadLiquors">Liquors</a>
            <a href="javascript:;" id="addLiquorType" data-action="AddCategory">Add Category</a>
            <a href="javascript:;" id="addLiquor" data-action="AddLiquor">Add Liquor</a>
        </div>
        <!-- /Top Nav -->

        <!-- Current content title -->
        <div class="contentTitleContainer">
            <h1 id="contentTitle" class="contentTitle">Welcome</h1>
        </div>
        <!-- /Current content title -->

        <!-- Content -->
        <div id="contentBody" class="contentBody clearfix">
            @RenderBody()
        </div>
        <!-- /Content -->
    </div>
    </body>
</html>
