﻿@model AgileTest.ViewModels.LiquorTypeVm
           

@using (Html.BeginForm("AddCategory", "Home", null, FormMethod.Post))
{
    <input type="hidden" id="formType" value="Categories"/>
    <div class="formFieldContainer clearfix">
        <div class="formLabel">@Html.LabelFor(m => m.Name)</div>
        <div class="formField required">@Html.TextBoxFor(m => m.Name)</div>
    </div>

    <div class="formFieldContainer clearfix">
        <div class="formLabel">@Html.LabelFor(m => m.Description)</div>
        <div class="formField">@Html.TextAreaFor(m => m.Description)</div>
    </div>


    <a href="javascript:;" id="addCategory" class="submitButton">Save</a>
}