﻿@model AgileTest.ViewModels.LiquorVm
@{
    var liquorTypeList = ViewData["LiquorTypesSelectList"] as List<SelectListItem>;
}

@using (Html.BeginForm("AddLiquor", "Home", null, FormMethod.Post))
{
    <input type="hidden" id="formType" value="Liquors"/>
    <div class="formFieldContainer clearfix">
        <div class="formLabel">@Html.LabelFor(m => m.Name)</div>
        <div class="formField required">@Html.TextBoxFor(m => m.Name)</div>
    </div>

    <div class="formFieldContainer clearfix">
        <div class="formLabel">@Html.LabelFor(m => m.Color)</div>
        <div class="formField required">@Html.TextBoxFor(m => m.Color)</div>
    </div>

    <div class="formFieldContainer clearfix">
        <div class="formLabel">@Html.LabelFor(m => m.LiquorTypeId)</div>
        <div class="formField required">@Html.DropDownListFor(m => m.LiquorTypeId, liquorTypeList)</div>
    </div>

    <div class="formFieldContainer clearfix">
        <div class="formLabel">@Html.LabelFor(m => m.Description)</div>
        <div class="formField">@Html.TextAreaFor(m => m.Description)</div>
    </div>


    <a href="javascript:;" id="addCategory" class="submitButton">Save</a>
}