﻿@using AgileTest.ViewModels
@{
    var liquorTypeVms = ViewData["LiquorTypeVms"] as List<LiquorTypeVm>;
}

<div id="categoryCanister">
    @foreach (var liquorTypeVm in liquorTypeVms)
    {
        <div data-id="@liquorTypeVm.Id" class="liquorType">
            <div class="name">@liquorTypeVm.Name</div>
            <div class="description">@Html.Raw(liquorTypeVm.Description.Replace("\n", "<br>\n"))</div>
        </div>
    }
</div>