﻿@using AgileTest.ViewModels
@{
    var liquorVms = ViewData["LiquorVms"] as List<LiquorVm>;
}

<div id="liquorCanister">
    @foreach (var liquorVm in liquorVms)
    {
        <div data-id="@liquorVm.Id" class="liquor">
            <div class="liquorDetails clearfix">
                <div class="name">@liquorVm.Name</div>
                <div class="rating">
                    Rating:
                    <a href="javascript:;">1</a>
                    <a href="javascript:;">2</a>
                    <a href="javascript:;">3</a>
                    <a href="javascript:;">4</a>
                    <a href="javascript:;">5</a>
                </div>
                <div class="color">Color: @liquorVm.Color</div>
                <div class="category">Category: @liquorVm.LiquorTypeVm.Name</div>
       
            </div>
            <div class="description">@Html.Raw(liquorVm.Description.Replace("\n", "<br>\n"))</div>
        </div>
    }
</div>