﻿/* Primary elements =========================================================================== */
body {
    font-family: 'Montserrat', sans-serif;
    color: #2e1612;
    background-image: url(/Content/Images/breckenridge.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
}

a {
    font-family: 'Roboto', sans-serif;
    color: #2e1612;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: bold;
}


/* Specific global elemenets =================================================================== */

/* Layout */
.contentCanister {
    width: 1000px;
    position: absolute;
    left: 50%;
    margin: 0;
    margin-left: -500px;
    border: 0;
    border-left: 3px solid #511703;
    border-right: 3px solid #511703;
    min-height: 100%;
    z-index: 500;
    background: rgba(250, 224, 173, 0.85);
}

/* Menu */
.topNav {
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-bottom: 3px solid #511703;
}

.topNav a {
    text-decoration: none;
    padding: 7px 20px;
    margin-right: 20px;
    font-size: 20px;
    border: 2px solid #0a0907;
    background-color: #462107;
    color: #fae0ad;
    border-radius: 7px;
}

.topNav a:last-child {
    margin-right: 0;
}

.topNav a:hover,
.topNav a.active {
    background-color: #531603;
    border-color: #fff;
}

/* Content */
.contentTitleContainer {
    padding: 10px;
    height: 40px;
}

.contentBody {
    margin: 20px 0 0 0;
    padding: 10px;
}

/* liquorType */
.liquorType {
    margin: 10px 0;
    padding: 10px;
    border-bottom: 1px solid #0a0907;
    cursor: pointer;
}
.liquorType:hover {
    background-color: #d8a56c;
}
.liquorType .name {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}
.liquorType .description {
    display: inline-block;
    padding-left: 30px;
}

/* liquor */
.liquorCanister {

}
.liquor {
    display: inline-block;
    width: 400px;
    height:300px;
    margin: 25px;
    padding: 10px;
    border: 2px solid #0a0907;
    border-bottom-right-radius: 8px;
    vertical-align: top;
}
.liquorDetails div {
    margin-right: 20px;
    font-size: 16px;
    display: inline-block;
}
.liquorDetails div:last-child {
    margin-right: 0;
}
.liquorDetails .name {
    font-weight: bold;
    display: block;
    clear: both;
}
.liquorDetails .rating {
    display: block;
    clear: both;
}
.liquorDetails .rating a {
    padding: 2px 8px;
    text-align: center;
    border: 2px solid #0a0907;
    border-radius: 15px;
    margin: 5px;
    font-weight: bold;
}

.liquorDetails .rating a:hover {
    border-color: #511703;
    background-color: #fae0ad;
}
.liquor .description {
    margin: 10px 0 0 0;
    max-height: 180px;
    overflow-y: auto;
}



/*  Forms  */
form {
    margin-left: 20px;
}
.formFieldContainer {
    margin: 0 0 20px 0;
}
.formLabel {
    display: inline-block;
    width: 150px;
    vertical-align: top;
}
.formField {
    display: inline-block;
}
.formField input,
.formField select {
    width: 300px;
    padding: 5px;
}
.formField textarea {
    width: 300px;
    min-height: 200px;
    padding: 5px;
}
.submitButton {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 20px;
    border: 2px solid #0a0907;
    background-color: #462107;
    color: #fae0ad;
    border-radius: 7px;
}
.submitButton:hover {
    background-color: #531603;
    border-color: #fff;
}